<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{pc.data.action}} Projeto</h3>
  </div>
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="prjName" class="col-sm-2 control-label">Nome</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="prjName" placeholder="Nome do Projeto" ng-model="pc.data.prjName" 
            uib-tooltip="Nome projeto que será usado no arquivo de definição. Não pode ser alterado."
            ng-hide="pc.data.action == 'Editar'">
          <p uib-tooltip="Nome projeto que será usado no arquivo de definição. Não pode ser alterado."
            ng-show="pc.data.action == 'Editar'"
            class="form-control-static">{{pc.data.prjName}}</p>
        </div>
      </div>
      <div class="form-group">
        <label for="prjName" class="col-sm-2 control-label">Pacote</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="prjPackage" placeholder="Pacote Padrão" ng-model="pc.data.prjPackage"
            uib-tooltip="O pacote padrão a ser usado nos stubs gerados.">
        </div>
      </div>
      <div class="form-group">
        <label for="prjName" class="col-sm-2 control-label">Pasta</label>
        <div class="col-sm-10">
          <div class="input-group">
            <div class="input-group-addon full-width read-only" ng-click="pc.selectPath()" uib-tooltip="O caminho no sistema de arquivos para geração dos stubs. Clique para selecionar.">{{pc.data.prjPath ? pc.data.prjPath : 'Não definido'}}</div>
            <div class="input-group-btn">
              <button type="button" class="btn btn-default" aria-label="Selecionar caminho" ng-click="pc.selectPath()"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></button>
            </div>
          </div>
        </div>
      </div>  
      <div class="pull-right">
        <div class="btn-group">
          <a id="btnAddFields" class="btn btn-default" ng-show="pc.data.editionMode" href="#fields" role="button">Editar Campos</a>
        </div>
        <div class="btn-group">
          <button id="btnSave" class="btn btn-default" ng-click="pc.save()" type="submit">Salvar</button>
        </div>
        <div class="btn-group">
          <button id="btnCancel" class="btn btn-default" ng-click="pc.cancel()" type="reset">Cancelar</button>
        </div>    
      </div>
    </form>
  </div>
</div>