<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{$ctrl.data.action}} Projeto {{$ctrl.data.prjName}}</h3>
  </div>
  <div class="panel-body">
    <div uib-alert close="$ctrl.resetMessage()" ng-if="$ctrl.hasMessage" dismiss-on-timeout="5000"
      ng-class="'alert-' + ($ctrl.message.type || 'warning')">{{$ctrl.message.text}}</div>
    <uib-tabset active="active">
      <uib-tab index="0" heading="Dado Básicos"><elementary-data></elementary-data></uib-tab>
      <uib-tab index="1" heading="Campos" ng-show="$ctrl.data.editionMode"><fields></fields></uib-tab>
      <uib-tab index="2" heading="Artefatos" ng-show="$ctrl.data.editionMode"><artifacts></artifacts></uib-tab>
    </uib-tabset>
  </div>
  <div class="panel-body">
    <div class="pull-right">
      <div class="btn-group">
        <button id="btnSave" class="btn btn-default" ng-click="$ctrl.save()" type="submit">Salvar</button>
      </div>
      <div class="btn-group">
        <button id="btnCancel" class="btn btn-default" ng-click="$ctrl.cancel()" type="reset">Cancelar</button>
      </div>
    </div>
  </div>
</div>