<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{pc.data.action}} Projeto</h3>
  </div>
  <div class="panel-body">
    <uib-tabset active="active">
      <uib-tab index="0" heading="Dado Básicos">
        <dados-basicos></dados-basicos>
      </uib-tab>
      <uib-tab index="1" heading="Campos" ng-show="pc.data.editionMode">
        <ng-include src="'client/field/field-form.template.html'"></ng-include>
      </uib-tab>
      <uib-tab index="0" heading="Artefatos" ng-show="pc.data.editionMode"></uib-tab>
    </uib-tabset>
  </div>
  <div class="panel-body">
    <div class="pull-right">
      <div class="btn-group">
        <button id="btnSave" class="btn btn-default" ng-click="pc.save()" type="submit">Salvar</button>
      </div>
      <div class="btn-group">
        <button id="btnCancel" class="btn btn-default" ng-click="pc.cancel()" type="reset">Cancelar</button>
      </div>
    </div>
  </div>
</div>