<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Opções</h4>
</div>
<div class="modal-body">
  <div class="panel panel-default panel-borderless">
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="javaExe">Caminho do Arquivo executável java</label>
          <div class="input-group">
            <div class="input-group-addon full-width read-only" ng-click="$ctrl.selectJavaExe()" 
              uib-tooltip="Caminho do arquivo java.exe no Sistema de Arquivos. Clique para selecionar.">{{$ctrl.data.javaPath ? $ctrl.data.javaPath : 'Não definido'}}
            </div>
            <div class="input-group-btn">
              <button type="button" class="btn btn-default" aria-label="Selecionar caminho" ng-click="$ctrl.selectJavaExe()">
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="javaExe">Caminho do Arquivo castor-1.0.jar</label>
          <div class="input-group">
            <div class="input-group-addon full-width read-only" ng-click="$ctrl.selectCastor()" 
              uib-tooltip="Caminho do arquivo castor-1.0.jar no Sistema de Arquivos. Clique para selecionar.">{{$ctrl.data.castor ? $ctrl.data.castor : 'Não definido'}}
            </div>
            <div class="input-group-btn">
              <button type="button" class="btn btn-default" aria-label="Selecionar caminho" ng-click="$ctrl.selectCastor()">
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="javaExe">Caminho do Arquivo xercesImpl-2.4.0.jar</label>
          <div class="input-group">
            <div class="input-group-addon full-width read-only" ng-click="$ctrl.selectXerces()" 
              uib-tooltip="Caminho do arquivo xercesImpl-2.4.0.jar no Sistema de Arquivos. Clique para selecionar.">{{$ctrl.data.xerces ? $ctrl.data.xerces : 'Não definido'}}
            </div>
            <div class="input-group-btn">
              <button type="button" class="btn btn-default" aria-label="Selecionar caminho" ng-click="$ctrl.selectXerces()">
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="pull-right">
    <div class="btn-group"><button id="btnSave" class="btn btn-default" ng-click="$ctrl.save()" type="submit">Salvar</button></div>
    <div class="btn-group"><button id="btnCancel" class="btn btn-default" ng-click="$ctrl.cancel()" type="button">Cancelar</button></div>
  </div>
</div>
